#footer
  .container
    .footer_inner
      .row
        .col-3
          .logo
            %h1
              .icon= raw logo_svg(color: '#333', width: '35px', height: '35px')
        .col-9
          .footer_nav
            = link_to 'ブログ運営者向け', guidline_path
            |
            = link_to 'お問い合わせ', contact_path
            .copyright
              Copyright もぶアンテナ All Right Reserved.
